.line-dark{
 width: 100vw;
}
.content-nav{
    width: 100vw;
}
.navbar{
    padding-left: 0%!important;
}

.ftco-navbar-light .navbar-toggler:focus {
 
    color: rgba(0, 0, 0, 0) !important;
}
.ftco-navbar-light .navbar-toggler {
 
    color: rgba(0, 0, 0, 0) !important;
}