.line-dark {
    width: 100vw;
}
.offcanvas-end{
visibility: visible;
}
.content-nav {
    padding-top: 1%;
    width: 100vw;
}
.media-auth{
    color: #4d4d4d;
}

.social-media p button:hover span {
    color: #fff;
}

.buton-media {
    background-size: contain;
    border: 2px solid #d2cfcf;
    border-radius: 100%;
    width: 38px;
    width: 40px;
    height: 40px;

    background-color: transparent;
}

.buton-media:hover {
    background-color: #ff0000;
}

.navbar {
    padding-left: 0% !important;
    padding-bottom:0% !important
}
.avatar{
    border-radius:50%
}

.ftco-navbar-light .navbar-toggler:focus {

    color: rgba(0, 0, 0, 0) !important;
}

.ftco-navbar-light .navbar-toggler {

    color: rgba(0, 0, 0, 0) !important;
}

.offcanvas-body {
    background-color: #262828;
}




.ftco-navbar-light .navbar-nav>.nav-item>.nav-link:hover {
    color: #ff0000;
}

.ftco-navbar-light .navbar-nav>.nav-item>.nav-link:hover:before {
    width: 100%;
}

.ftco-navbar-light .navbar-nav>.nav-item .dropdown-menu {
    border: none;
    background: #fff;
    -webkit-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
    box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
    border-radius: 4px;
}

.ftco-navbar-light .navbar-nav>.nav-item .dropdown-menu .dropdown-item {
    font-size: 12px;
    color: #000;
}

.ftco-navbar-light .navbar-nav>.nav-item .dropdown-menu .dropdown-item:hover,
.ftco-navbar-light .navbar-nav>.nav-item .dropdown-menu .dropdown-item:focus {
    background: #ff0000;
    color: #fff;
}

.ftco-navbar-light .navbar-nav>.nav-item.cta>a {
    color: #fff;
    background: #ff0000;
    border-radius: 0px;
}

.ftco-navbar-light .navbar-toggler {
    border: none;

    cursor: pointer;
    padding-right: 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: .1em;
}

.ftco-navbar-light .navbar-toggler:focus {
    outline: none !important;
}










.ftco-navbar-light .navbar-nav>.nav-item.active>a {
    color: #ff0000;
}

.ftco-navbar-light .navbar-nav>.nav-item>.nav-link:hover {
    color: #ff0000;
}

.ftco-navbar-light .navbar-nav>.nav-item>.nav-link {
    font-size: 11px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    opacity: 1 !important;
}

.ftco-navbar-light .navbar-nav>.nav-item>.nav-link::before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #ff0000;
    transition: 0.3s;
}

.ftco-navbar-light .navbar-nav>.nav-item>.nav-link {
    font-size: 11px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.navbar-brand {
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 30px;
}

.navbar-brand span {
    display: block;
    font-size: 12px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.3);
}

.navbar-brand:hover,
.navbar-brand:focus {
    color: #000;
}

.social-media {

    display: inline-block;
}

@media (max-width: 991.98px) {
    .social-media {

        margin: 0 auto;
    }
}

@media (max-width: 767.98px) {
    .social-media {
        margin-bottom: 20px;
    }
}

.social-media p button.buton-media {
    border: 1px solid #e6e6e6;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 1rem;
}

.social-media p a span {
    color: #4d4d4d;
}

.social-media p a:hover {
    background: #ff0000;
    border-color: #ff0000;
}

.social-media p a:hover span {
    color: #fff;
}


@media (max-width: 767.98px) {
    .cont-media {
        justify-content: center;
    }
}